/SmallScripts/target/
/GenomeStudioExportToOptiCall/target/
/QtlSnpBedAnnotator/target/
CompareGenotypeCalls/target/
*/target/
target/*
CompareGenotypeCalls/target/classes/nl/systemsgenetics/comparegenotypecalls/App_1.class
*.properties
